In [1]:
import pandas as pd
from ydata_profiling import ProfileReport

In [2]:
csv_file = 'data.csv'

In [3]:
df = pd.read_csv(csv_file)

In [4]:
df.head()

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105

In [5]:
df.tail()

         Car   Model  Volume  Weight  CO2
31     Volvo    XC70    2000    1746  117
32      Ford   B-Max    1600    1235  104
33       BMW     216    1600    1390  108
34      Opel  Zafira    1600    1405  109
35  Mercedes     SLK    2500    1395  120

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Car     36 non-null     object
 1   Model   36 non-null     object
 2   Volume  36 non-null     int64
 3   Weight  36 non-null     int64
 4   CO2     36 non-null     int64
dtypes: int64(3), object(2)
memory usage: 1.5+ KB

In [7]:
df.describe(include='all')

             Car   Model       Volume       Weight         CO2
count         36      36    36.000000    36.000000   36.000000
unique        17      35          NaN          NaN         NaN
top     Mercedes  Fiesta          NaN          NaN         NaN
freq           5       2          NaN          NaN         NaN
mean         NaN     NaN  1611.111111  1292.277778  102.027778
std          NaN     NaN   388.975047   242.123889    7.454571
min          NaN     NaN   900.000000   790.000000   90.000000
25%          NaN     NaN  1475.000000  1117.250000   97.750000
50%          NaN     NaN  1600.000000  1329.000000   99.000000
75%          NaN     NaN  2000.000000  1418.250000  105.000000
max          NaN     NaN  2500.000000  1746.000000  120.000000

In [11]:
profile = ProfileReport(df, title=csv_file + " - Profiling Report")

In [12]:
profile.to_file(csv_file + " - Profiling Report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]